/* CSS Document */

html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}
body {
	background-color: #333;
	color: #fff;
	overflow: hidden;
}
#container {
	width: 100%;
	height: 100%;
}
#content {
	font-size: 120%;
	font-family: 'Roboto', Arial, "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
}
ul {
	list-style-type: none;
}
li {
	margin: 15px 0;
}
#header {
	font-family: 'Oswald', sans-serif;
	margin-bottom: 5%;
}
.unslider-nav {
	display: none;
}
.sizechecker {
	float: right;
}
#green,#jersey {
	cursor:pointer;
}

@media (min-width: 1200px) {
#header {
	width: 100%;
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
}
#container {
	width: 1170px;
	margin: 0 auto;
	height: 100%;
}
#content {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
}
#mylittledude {
	display: block;
	float: right;
	width: 50%;
	background-image: url("images/bg-1170.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}
.green {
	background-image: url("images/bg-1170-green.png") !important;
		}
.jersey {
	background-image: url("images/bg-1170-jersey.png") !important;
		}
}
 @media (min-width: 1024px) and (max-width: 1199px) {
#header {
	width: 100%;
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
}
#container {
	width: 970px;
	margin: 0 auto;
	height: 100%;
}
#content {
	display: block;
	float: left;
	width: 50%;
	height: 100%;
}
#mylittledude {
	display: block;
	float: right;
	width: 50%;
	background-image: url("images/bg-970.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}
.green {
	background-image: url("images/bg-970-green.png") !important;
		}
}

@media (min-width: 800px) and (max-width: 1023px) {
#container {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
}
#content {
	display: block;
	float: left;
	width: 60%;
	height: 100%;
}
#mylittledude {
	display: block;
	float: right;
	width: 40%;
	background-image: url("images/bg-970.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 7% auto;
}
.green {
	background-image: url("images/bg-970-green.png") !important;
		}
}
@media (max-width:1023px) {
.sizechecker {
	float:none;
}
.unslider-wrap.unslider-carousel>li {
	text-align: center;
}
.unslider-arrow {
	position: initial;
	left: 0px;
}
.next {
	float:right;
}
.prev {
	float:left;
}
.unslider {

}
#content {
	width:85%;
	margin: 0 auto;
}

}
 @media (min-width: 768px) and (max-width: 799px) {
#container {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
}
#content {
	float: none;
	display: block;
	height: 15%;
}
#mylittledude {
	float: none;
	display: block;
	width: 70%;
	background-image: url("images/bg-970.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 85%;
	margin: 0 auto;
}
.green {
	background-image: url("images/bg-970-green.png") !important;
		}
}
@media (min-width: 600px) and (max-width: 767px) {
#container {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	font-size: 500%;
	text-align: center;
	font-weight: bolder;
}
#content {
	float: none;
	display: block;
	height: 15%;

}

		
#mylittledude {
	float: none;
	display: block;
	width: 85%;
	background-image: url("images/bg-970.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 70%;
	margin: 0 auto;
}
.green {
	background-image: url("images/bg-970-green.png") !important;
		}
}
 @media (min-width: 480px) and (max-width: 599px) {
#container {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	font-size: 350%;
	text-align: center;
	font-weight: bolder;
}
#content {
	display: block;
	float: left;
	width: 60%;

}
#mylittledude {
	display: block;
	float: right;
	width: 40%;
	background-image: url("images/bg-320.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}
}

@media (max-width: 479px) {
#container {
	width: 96%;
	margin: 0 auto;
	height: 100%;
}
#header {
	width: 100%;
	font-size: 220%;
	text-align: center;
	font-weight: bolder;
}
#content {
	float: none;
	display: block;
	height: 35%;

}
#mylittledude {
	float: none;
	display: block;
	width: 70%;
	background-image: url("images/bg-320.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	margin: 0 auto;
}
}